<div class="row">
<div class="col-6" style="margin:auto;">
<h1 style="text-align:center;">CHI SIAMO?</h1>
<div >
    <button type="button" class="btn btn-success col-12">Large buttonLarge buttonLarge</button>
  </div>
</div>
</div>

<%= @me %>

